* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary: rgb(141, 85, 193);
$secondary: hsl(318, 76%, 60%);
$transition: color 0.3s, opacity 0.3s, transform 0.3s, background-color 0.3s;
.sync-btn {
  background-color: $primary;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: $secondary;
  }
}
body {
  width: 300px;
  height: 500px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
  transition: $transition;
  &:hover {
    color: $secondary;
  }
}

.tabs {
  display: flex;
  div {
    padding: 0.5rem 0.25rem;
    border-bottom: 2px solid #ece9e9;
    flex: 1 0 50%;
    text-align: center;
    cursor: pointer;
  }
}

.current-tab {
  background-color: $primary;
  color: white;
  border-color: $primary;
  border-bottom: 2px solid black;
}

.current-video-container {
  h4 {
    max-width: 80%;
    margin: 1rem auto;
  }
  .timestamp-row {
    padding: 0.5rem;
    border-bottom: 2px solid whitesmoke;
    transition: $transition;
    &:hover {
      background-color: whitesmoke;
    }

    .timestamp {
      color: $primary;
      cursor: pointer;
    }

    .timestamp-container {
      position: relative;
      padding-left: 0.5rem;
    }

    .timestamp-btn {
      padding-right: 4px;
      border: none;
      background: none;
      font-family: Arial, Helvetica, sans-serif;
      color: $primary;
    }

    .delete-timestamp {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      color: gray;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        color: $primary;
      }
    }
  }
}

.video-row {
  padding: 0.5rem;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  .delete-btn {
    background-color: transparent;
    font-weight: bold;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      color: rgb(116, 44, 44);
    }
  }
}

.edit-modal {
  position: fixed;
  inset: 2rem;
  background-color: rgba(164, 86, 220, 0.936);
  padding: 0.5rem;
  z-index: 10;
  color: white;
  textarea {
    padding: 0.5rem;
    font-size: 14px;
    width: 100%;
    height: 250px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    resize: vertical;
  }
  button {
    padding: 0.4rem 0.8rem;
    background-color: white;
    color: $primary;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: capitalize;
    border-color: transparent;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: white;
      border-color: white;
    }
  }
}

.edit-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.utilities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
  align-items: center;
  padding: 0.25rem;
}

.json-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: hsl(0, 0%, 85%);
  }
}

.table-link-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
  }
}
